* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#000000;
}
.container {
    display: flex;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.left {
    flex: 1;
    background: url('imagem1.jpeg') no-repeat center center/cover;
    padding: 80px;
}
.right {
    flex: 1;
    padding: 55px;
}
h2 {
    text-align: center;
    margin-bottom: 25px;
}
.input-box {
    position: relative;
    margin-bottom: 25px;
}
.input-box i {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #909090;
}
.input-box input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid ;
    border-radius: 5px;
    font-size: 16px;
    background-color: #d0d0d0;
    margin-bottom: 10px;
}
.input-box input:focus {
    border-color: #4070f4;
    outline: none;
}
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #000000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background: #365eab;
}